@import '../../common/style.scss';

.header {
  position: relative;
  // border: 3px solid red;
  height: 80px;
  z-index: 15;
  display: flex;
  padding: 1rem 3.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(252, 92, 125),
    rgb(106, 130, 251)
  );
  border-image-slice: 1;
  background-color: white;

  .logo {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  .right_menu {
    display: flex;

    .right_menu_item {
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        padding: 8px 12px;
        cursor: pointer;

        .icon_scrap {
          margin-right: 3px;
        }

        &:hover {
          color: $choralColor;
          .icon_scrap path {
            color: $choralColor;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 778px) {
  .header {
    padding: 1rem 2.5rem;
  }
}

@media screen and (max-width: 778px) {
  .header {
    padding: 1rem 1.25rem;
  }
}
