@import '../../common/style.scss';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
  padding: 2rem 0;

  h1 {
    color: white;
  }

  .search_main {
    padding-top: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 600px;

    input {
      width: 100%;
      background-color: white;
      padding: 15px 30px;
      border-radius: 50px;
    }

    .search_main_icon {
      position: absolute;
      font-size: 2rem;
      cursor: pointer;
      right: 1.75rem;
      transition: 300ms ease;

      &:active {
        transform: scale(0.8);
      }
    }
    .search_main_icon path {
      color: $choralColor;
    }
  }

  .rolling {
    height: 50px;
    overflow: hidden;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        color: white;
        padding: 5px 0;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    h1 {
      font-size: 28px;
    }

    .search_main {
      width: 500px;

      input {
        font-size: 14px;
      }

      .search_main_icon {
        font-size: 1.75rem;
      }
    }

    .rolling {
      font-size: 14px;
      width: 500px;
    }
  }
}

@media screen and (max-width: 500px) {
  .banner {
    h1 {
      font-size: 18px;
    }
    .search_main {
      width: 325px;

      input {
        font-size: 12px;
      }

      .search_main_icon {
        font-size: 1.25rem;
      }
    }

    .rolling {
      font-size: 10px;
      width: 325px;
      overflow: hidden;
    }
  }
}
