@import './style.scss';

// Modal
.modal_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.4);

  button {
    margin: 0 4px;
  }

  // modal_mypage_confirm
  .modal_scrap {
    @extend .scroll;
    position: relative;
    width: 60%;
    height: 80%;
    background-color: white;
    top: 10%;
    display: flex;
    flex-direction: column;
    border: 2px solid $violetColor;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    overflow: auto;

    .modal_head {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        color: $categoryTextColor;
      }

      .modal_close_icon {
        font-size: 28px;
        align-self: flex-end;
        cursor: pointer;

        path {
          color: $violetColor;
        }

        &:hover {
          transform: scale(1.1);
          transition: 300ms ease;
        }
      } //modal_close_icon
    } // modal_head

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      li {
        display: flex;
        margin: 3px 0;
        border-radius: 5px;
        background-color: $lilacColor;

        .scrap_item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 1rem;
          border-radius: 10px;
          width: 100%;
        } //article_main

        .article_title {
          width: 90%;
          font-weight: 500;
        }

        .article_scrap {
          cursor: pointer;
          font-size: 1.25rem;
          transition: 300ms ease;
          path {
            color: $choralColor;
          }
          &:hover {
            transform: scale(1.2);
          }
        }

        &:hover {
          border-left: 5px solid $choralColor;
          .scrap_item {
            border-radius: 0 10px 10px 0;
          }
        }
      } // scrap__li
    } // scrap__ul
  }
} // modal_mypage_confirm

//PopConfirm
.pop_confirm {
  visibility: hidden;
  position: absolute;
  height: 40px;
  right: 0;
  bottom: 100;
  background: $lilacColor;
  font-size: 12px;
  font-weight: bold;
  color: $categoryTextColor;
  border-radius: 5px;
  border-left: 5px solid $violetColor;
  padding: 12px 12.8px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  transition: 500ms ease;
}

// .pop_confirm:after {
//   border-top: 10px solid $lilacColor;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 0px solid transparent;
//   content: '';
//   position: absolute;
//   top: 40px;
//   left: 35px;
// }

.pop_confirm.clamp {
  animation: slide 1s;
  visibility: visible;
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;

  li {
    background-color: $lilacColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    border-radius: 5px;
    font-size: 14px;
    width: 30px;
    height: 30px;

    a {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active {
      a {
        background-color: $violetColor;
        color: white;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $violetColor;
      color: white;
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@media screen and (max-width: 768px) {
  .modal_container {
    .modal_scrap {
      width: 80%;

      ul {
        li {
          .article_title {
            font-size: 14px;
          }
          .article_scrap {
            font-size: 1.15rem;
          }
        } //articles li
      } //articles
    }
  }
}

@media screen and (max-width: 500px) {
  .modal_container {
    .modal_scrap {
      width: 90%;

      ul {
        li {
          .article_title {
            font-size: 13px;
          }
          .article_scrap {
            font-size: 1.15rem;
          }
        } //articles li
      } //articles
    }
  }
}
